<a href="https://colab.research.google.com/github/vinayyy-07/HDLC-internship/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

In [2]:
import pandas as pd
import numpy as nu
d={"c1":[10,20,30],"c2":[40,50,60],"c3":[70,80,90],"c4":[100,110,120]}
Table=pd.DataFrame(data=d)
print(Table)
print("No of Rows:",Table.shape[0])
print("No of columns:",Table.shape[1])

   c1  c2  c3   c4
0  10  40  70  100
1  20  50  80  110
2  30  60  90  120
No of Rows: 3
No of columns: 4

Question 2

In [3]:
Table2=pd.read_csv("data.csv")
print("The Given data is:")
print(Table2)
print("The first 5 rows data is:")
print(Table2.head(5))
Table2.dropna(axis=0,inplace=True)
print("After removing null& error values:")
print(Table2)
print("From given data the Final Analysis is given by:")
print(Table2.describe())

The Given data is:
       Price  Area                     Location  No. of Bedrooms  Gymnasium  \
0    6968000  1340                     Nizampet              2.0        1.0
1   29000000  3498                  Hitech City              4.0        1.0
2    6590000  1318                    Manikonda              2.0        1.0
3    5739000  1295                        Alwal              3.0        0.0
4    5679000  1145                   Kukatpally              2.0        0.0
5    6099000  1230                     Nizampet              2.0        0.0
6    7000000  1350                    Manikonda              2.0        0.0
7    4198000  1400                   Gachibowli              3.0        1.0
8    9900000  2240                     Tellapur              NaN        NaN
9    9800000  1520                   Gachibowli              2.0        0.0
10   8903000  1535                      Kokapet              3.0        1.0
11   6300000  1150                  Hyder Nagar              2.0        0.0
12   6300000  1285                  Mehdipatnam              2.0        0.0
13   9000000  1897                     Tellapur              3.0        1.0
14  11100000  1725                     Narsingi              3.0        1.0
15  11500000   XYZ  Khajaguda Nanakramguda Road              3.0        NaN
16  10900000  1592                   Kukatpally              3.0        1.0
17   8625000  1150                     Madhapur              2.0        0.0
18   9900000  2240                     Tellapur              3.0        1.0

    SwimmingPool  JoggingTrack  RainWaterHarvesting  IndoorGames
0            1.0           1.0                  1.0          1.0
1            1.0           1.0                  1.0          1.0
2            0.0           0.0                  0.0          1.0
3            0.0           0.0                  0.0          0.0
4            0.0           0.0                  0.0          0.0
5            0.0           0.0                  0.0          0.0
6            0.0           0.0                  0.0          0.0
7            1.0           0.0                  0.0          0.0
8            NaN           0.0                  0.0          1.0
9            0.0           0.0                  0.0          0.0
10           1.0           1.0                  1.0          1.0
11           0.0           0.0                  0.0          0.0
12           0.0           NaN                  NaN          NaN
13           1.0           1.0                  1.0          1.0
14           1.0           1.0                  0.0          1.0
15           NaN           0.0                  0.0          0.0
16           1.0           0.0                  0.0          0.0
17           0.0           0.0                  0.0          0.0
18           1.0           0.0                  0.0          1.0
The first 5 rows data is:
      Price  Area     Location  No. of Bedrooms  Gymnasium  SwimmingPool  \
0   6968000  1340     Nizampet              2.0        1.0           1.0
1  29000000  3498  Hitech City              4.0        1.0           1.0
2   6590000  1318    Manikonda              2.0        1.0           0.0
3   5739000  1295        Alwal              3.0        0.0           0.0
4   5679000  1145   Kukatpally              2.0        0.0           0.0

   JoggingTrack  RainWaterHarvesting  IndoorGames
0           1.0                  1.0          1.0
1           1.0                  1.0          1.0
2           0.0                  0.0          1.0
3           0.0                  0.0          0.0
4           0.0                  0.0          0.0
After removing null& error values:
       Price  Area     Location  No. of Bedrooms  Gymnasium  SwimmingPool  \
0    6968000  1340     Nizampet              2.0        1.0           1.0
1   29000000  3498  Hitech City              4.0        1.0           1.0
2    6590000  1318    Manikonda              2.0        1.0           0.0
3    5739000  1295        Alwal              3.0        0.0           0.0
4    5679000  1145   Kukatpally              2.0        0.0           0.0
5    6099000  1230     Nizampet              2.0        0.0           0.0
6    7000000  1350    Manikonda              2.0        0.0           0.0
7    4198000  1400   Gachibowli              3.0        1.0           1.0
9    9800000  1520   Gachibowli              2.0        0.0           0.0
10   8903000  1535      Kokapet              3.0        1.0           1.0
11   6300000  1150  Hyder Nagar              2.0        0.0           0.0
13   9000000  1897     Tellapur              3.0        1.0           1.0
14  11100000  1725     Narsingi              3.0        1.0           1.0
16  10900000  1592   Kukatpally              3.0        1.0           1.0
17   8625000  1150     Madhapur              2.0        0.0           0.0
18   9900000  2240     Tellapur              3.0        1.0           1.0

    JoggingTrack  RainWaterHarvesting  IndoorGames
0            1.0                  1.0          1.0
1            1.0                  1.0          1.0
2            0.0                  0.0          1.0
3            0.0                  0.0          0.0
4            0.0                  0.0          0.0
5            0.0                  0.0          0.0
6            0.0                  0.0          0.0
7            0.0                  0.0          0.0
9            0.0                  0.0          0.0
10           1.0                  1.0          1.0
11           0.0                  0.0          0.0
13           1.0                  1.0          1.0
14           1.0                  0.0          1.0
16           0.0                  0.0          0.0
17           0.0                  0.0          0.0
18           0.0                  0.0          1.0
From given data the Final Analysis is given by:
              Price  No. of Bedrooms  Gymnasium  SwimmingPool  JoggingTrack  \
count  1.600000e+01        16.000000  16.000000     16.000000     16.000000
mean   9.112562e+06         2.562500   0.562500      0.500000      0.312500
std    5.679100e+06         0.629153   0.512348      0.516398      0.478714
min    4.198000e+06         2.000000   0.000000      0.000000      0.000000
25%    6.249750e+06         2.000000   0.000000      0.000000      0.000000
50%    7.812500e+06         2.500000   1.000000      0.500000      0.000000
75%    9.825000e+06         3.000000   1.000000      1.000000      1.000000
max    2.900000e+07         4.000000   1.000000      1.000000      1.000000

       RainWaterHarvesting  IndoorGames
count            16.000000    16.000000
mean              0.250000     0.437500
std               0.447214     0.512348
min               0.000000     0.000000
25%               0.000000     0.000000
50%               0.000000     0.000000
75%               0.250000     1.000000
max               1.000000     1.000000